body {
  // padding: 5rem;
  width: 100%;
  margin: 0 auto;
  background-image: url(../img/Tropical-Jungle-Background-Graphics-84339217-1.webp);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.contentContainer {
  padding: 2rem;
  margin: 2rem auto;
  width: 100%;
  //grid
  display: grid;
  align-content: center;
  justify-content: center;
  justify-items: center;
  align-items: stretch;
  grid-template-columns: repeat(auto-fit, 200px);
  gap: 1rem;

  @media only screen and (min-width: 1350px) {
    grid-template-columns: repeat(auto-fit, 320px);
    // grid-template-rows: 1fr;
  }
}

.title {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  flex-direction: column;

  width: 100%;
  text-shadow: 2px 3px 2px rgba(0, 0, 0, 0.8);

  // 100% width for single element
  grid-column: 1/-1;
  @media only screen and (max-width: 600px) {
  }
  @media only screen and (max-width: 1350px) {
    .title {
      gap: 0.1rem;
    }
  }
  @media only screen and (min-width: 1350px) {
  }
  &_main {
    font-family: "Bahianita", serif;
    // font-weight: 400;
    // font-style: normal;
    @media only screen and (max-width: 600px) {
    }
    @media only screen and (max-width: 1350px) {
      font-size: 15rem;
    }
    @media only screen and (min-width: 1350px) {
      font-size: 25rem;
    }
  }
  &_sub {
    font-size: 3rem;
    @media only screen and (max-width: 600px) {
    }
    @media only screen and (max-width: 1350px) {
      font-size: 5rem;
    }
    @media only screen and (min-width: 1350px) {
      font-size: 8rem;
    }
  }
}

// algemene vormgeving div's
.elem {
  // margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-basis: auto;
  border-color: #000;
  border-style: solid;
  border-width: 1rem;
  border-radius: 1em;
  // padding: 1rem;
  box-shadow: 6px 3px 5px 1px rgba(0, 0, 0, 0.2);

  h2 {
    background-color: #000;
    color: #fff;
    font-family: "Bahianita", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4rem;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    @media only screen and (min-width: 1350px) {
      font-size: 10rem;
    }
  }
  form {
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 0.2em;
    padding: 1rem 1rem 2rem 1rem;
    @media only screen and (min-width: 1350px) {
      font-size: 3rem;
    }
    legend {
      margin: 0rem auto 0 auto;
      font-size: 2.4rem;
      grid-column: 1/-1;
      @media only screen and (min-width: 1350px) {
        font-size: 4rem;
        font-weight: 900;
      }
    }
    legend:nth-of-type(2) {
      margin: 2rem auto 0 auto;
    }
    input {
      height: auto;
    }
    label {
      height: auto;
    }
  }
}

.btn {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 1rem;
  // border-radius: 1rem;
  text-transform: capitalize;
  @media only screen and (min-width: 1350px) {
    font-size: 4rem;
    font-weight: 900;
  }
}

// totale score
.scoreFloat {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 3rem;
  font-weight: 900;

  @media only screen and (min-width: 1350px) {
    font-size: 8rem;
    font-weight: 900;
  }

  animation: scoreAnimatie 1s ease-in;

  @keyframes scoreAnimatie {
    25% {
      scale: 0%;
    }

    40% {
      transform: rotate(20deg);
      scale: 150%;
    }
    50% {
      transform: rotate(-10deg);
      scale: 90%;
    }
    60% {
      transform: rotate(5deg);
      scale: 130%;
    }
    70% {
      transform: rotate(-5deg);
      scale: 95%;
    }
    80% {
      transform: rotate(2deg);
      scale: 105%;
    }
    90% {
      scale: 100%;
    }
  }
}

.refreshButton {
  width: 10rem;
  height: 10rem;
  background-color: #303030;
  cursor: pointer;
  border-radius: 1rem;
  position: fixed;
  right: 3vw;
  bottom: 10%;
  margin: 1rem auto;
  transition: all 200ms ease-out;

  .refreshIcon {
    content: url(../img/rotate-reverse-solid.svg);
    transform: scale(0.5);
    filter: invert(1);
  }

  &:hover {
    transform: scale(1.1);
    background-color: #404040;
  }

  @media only screen and (min-width: 1350px) {
    position: fixed;
    right: 1vw;
    bottom: 0%;
  }
}

.home_btn_container {
  width: 100%;
  margin: 0 auto;
  font-size: 4rem;
  text-align: center;

  position: 0;
  background-color: #96bf3d;

  padding: 1rem;
  cursor: pointer;
  a {
    color: #ee3124;
    text-decoration: none;
  }
}
